<!DOCTYPE html>
<html>
<head>
  <title><%= AppleManifestRails.page_title %></title>
  <%= stylesheet_link_tag    "apple_manifest_rails/application", :media => "all" %>
  <%= javascript_include_tag "apple_manifest_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
